<!-- <app-nav-bar></app-nav-bar> -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">SafeOneApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <select style="width:300px" class="form-control" name="state_list" [(ngModel)]="selectedState" (change)="setCenterRegion()">
      <option value="">Select</option>
      <option *ngFor="let state of regionData" [ngValue]="state">{{state.name}}</option>
    </select>
  </div>
</div>

<div id="mySidenav" class="sidenav" style="margin-top:3rem;z-index:110;">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <!-- Page Content -->
  <div class="container">
    <h1 class="my-4 text-center text-lg-left" *ngIf="selectedMediaData.images.length === 0">No Media Present</h1>
    <div class="row text-center text-lg-left">

      <div class="col-lg-3 col-md-4 col-xs-6"  *ngFor="let image of selectedMediaData.images">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" [src]="image.photo_medium_url" alt="">
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let item of selectedMediaData.audios">
        <!-- <a class="d-block mb-4 h-100"> -->
          <video controls style="position: initial;">
            <source [src]="item.audio_url" type="video/mp4">
          </video>
        <!-- </a> -->
      </div>
      <!-- TODO : Replace it withactual video url -->
      <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let item of selectedMediaData.videos">
        <a class="d-block mb-4 h-100">
          <video controls style="position: initial;">
            <source [src]="getVodeoUrl()" type="video/mp4">
          </video>
        </a>
      </div>


    </div>
  </div>
  <!-- /.container -->
</div>

<div class="column" id="main" style="margin-top: 2.5rem;">
  <!-- Use any element to open the sidenav -->
  <!-- <button class="btn btn-primary" (click)="openNav()">Open</button> -->
  <!-- <div class="row">
    <div class="col-md-12"> -->
        <div id="wrapper">
            <div id="map"></div>
            <div id="over_map">
                <div class="row">
                    <div class="col-md-12 text-center">
                      <div class="btn-group map-buttons">
                          <button type="button" class="btn-img-size button-victim" (click)="toggleVictimeData()"></button>
                          <button type="button" class="btn-img-size button-geoxman" (click)="toggleGeoxmanData()"></button>
                          <button type="button" class="btn-img-size button-police" (click)="togglePoliceData()"></button>
                          <button type="button" class="btn-img-size button-landmark" (click)="toggleLandmarkData()"></button>
                          <button type="button" class="btn-img-size button-ezone" (click)="toggleEzoneData()"></button>
                          <button type="button" class="btn-img-size button-hospital" (click)="toggleHospitalData()"></button>
                      </div>
                    </div>
                  </div>                  
            </div>
          </div>
    <!-- </div>
  </div> -->
  <!-- <div class="row" style="margin-top:1rem">
    <div class="col-md-6">
        <select CLASS="form-control" name="state_list" [(ngModel)]="selectedState" (change)="setCenterRegion()">
            <option value="">Select</option>
          <option *ngFor="let state of regionData" [ngValue]="state">{{state.name}}</option>
        </select>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-default button-victim" (click)="toggleVictimeData()"></button>
        <button type="button" class="btn btn-default button-geoxman" (click)="toggleGeoxmanData()"></button>
        <button type="button" class="btn btn-default button-police" (click)="togglePoliceData()"></button>
        <button type="button" class="btn btn-default button-landmark" (click)="toggleLandmarkData()"></button>
        <button type="button" class="btn btn-default button-ezone" (click)="toggleEzoneData()"></button>
        <button type="button" class="btn btn-default button-hospital" (click)="toggleHospitalData()"></button>
    </div>
  </div> -->
</div>