#map {
    width: 100%;
    height: 550px;
}
  
#wrapper { 
    position: relative;
}

.map-buttons {
    padding: 10px;
    background: black;
    filter: opacity(70%);
    border-radius: 5px;
}


#over_map { 
    position: absolute;
    z-index: 99; 
    width:100%;
    bottom: 0;
    margin-bottom: 20px;
}

.a {    
    border-color:black;
    font-size: 200%;
    color: rgb(196, 190, 195);
}


.image {
    transform: rotate(90deg);
    height: 100%;
    width: 100%;
    position: relative;
    top: -490px;
    right: -1296px;
}
.audio,video{
    height: 75%;
    width: 75%;
    position: relative;
    top: -490px;
    right: -1336px;
}
#buttons {
    width: 100%;
    text-align: center;
}

.btn-img-size {
    height: 30px;  
    width: 40px;
    border-radius:5px;
}

.button-victim {
    border: none;
    background: url('../assets/images/victim_red_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.button-geoxman {
    border: none;
    background: url('../assets/images/investigator_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.button-police {
    border: none;
    background: url('../assets/images/police_station_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.button-landmark {
    border: none;
    background: url('../assets/images/landmark_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.button-ezone {
    border: none;
    background: url('../assets/images/safezone_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.button-hospital {
    border: none;
    background: url('../assets/images/hospital_marker.png') no-repeat;
    background-position: center;
    background-size: contain;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}