<app-nav-bar></app-nav-bar>
<div class="column">
  <div id="map">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default button-victim" (click)="refreshVictimeData()"></button>
    <button type="button" class="btn btn-default button-geoxman" (click)="refreshVictimeData()"></button>
    <button type="button" class="btn btn-default button-police" (click)="refreshVictimeData()"></button>
    <button type="button" class="btn btn-default button-landmark" (click)="refreshVictimeData()"></button>
    <button type="button" class="btn btn-default button-ezone" (click)="refreshVictimeData()"></button>
    <button type="button" class="btn btn-default button-hospital" (click)="refreshVictimeData()"></button>
  </div>
</div>

<div class="column">
  <div class="col-md-3">
    <h4>Victim Images</h4>
    <div *ngFor="let image of selectedMediaData.images">

      <img class="image" [src]="image.photo_medium_url" alt="inn_logo">
    </div>

    <h4>Audio</h4>
    <div *ngFor="let image of selectedMediaData.audios">
      <video controls>
        <source [src]="image.audio_url" type="video/mp4">
      </video>
    </div>

    <h4>Videos</h4>
    <div *ngFor="let item of selectedMediaData.videos">

      <!-- <video controls>
      <source [src]="item.audio_url" type="video/mp4">
    </video> -->
    </div>
  </div>
</div>